body{
    margin: 0;
    background-color:black;
}
h1{
    text-align: center;
    color: aliceblue;
}
p{
    text-align: left;
    display: block;
}
p.inset 
{
    border-style: inset;
    border-color:white;
}
p.outset 
{
    border-style: outset;
    border-color: white;
}
p{
    font-size: 30px;
    color: black;
}
h2{
    font-size: 35px;
    color: black;
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.txt_center{
    display: flex;
    justify-content: center;
}

.blog-post{
    margin: auto;
    width: 850px;
    flex-basis: 30%;
    border-radius: 20px;
    margin-bottom: 5%;
    padding: 20px 50px;
    box-sizing: border-box;
    word-wrap: break-word;
}
.blog-post p{
    text-align: left;
    font-size: 1vw;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.blog-post ul li{
    text-align: left;
    font-size: 1vw;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
    border-radius: 5px;
}
.Top_Nav_Bar{
    margin: auto;
    text-align: center;
    background-color:dimgrey;
    padding: 10;
    width: 650px;
    border-radius: 20px;
}
.button-nav {
    align-items: center;
    appearance: none;
    background-color:white;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 1vw;
}
.button-nav:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
} 
.button-nav:hover {
box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
transform: translateY(-2px);
}
.button-nav:active {
box-shadow: #D6D6E7 0 3px 7px inset;
transform: translateY(2px);
}
.button-nav-back {
    align-items: center;
    appearance: none;
    background-color:black;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color:white;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 1vw;
}
.button-nav-back:focus {
    box-shadow: white 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
} 
.button-nav-back:hover {
box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
transform: translateY(-2px);
}
.button-nav-back:active {
box-shadow: white 0 3px 7px inset;
transform: translateY(2px);
}
@media only screen and (max-width: 900px) {
    .Top_Nav_Bar{
        width: 100%;
    }
    .blog-post{
        width: 80%;
    }
    .blog-post p{
        font-size: 2vw;;
    }
    .button-nav{
        font-size: 2vw;
    }
    .button-nav-back{
        font-size: 2vw;
    }

}



